* {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: #ad343e;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search,
.details,
.search-params {
  background-color: #c4b2bc;
  width: 95%;
  margin: 0 auto;
  padding: 15px;
  border-radius: 5px;
}

.pet {
  width: 100%;
  height: 100px;
  display: block;
  overflow: hidden;
  margin: 15px 0;
}

.pet img {
  width: 100px;
  min-height: 100px;
}

.info {
  float: left;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-container {
  clip-path: circle(50% at 50% 50%);
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}

.pet h1 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 30px;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.pet h2 {
  white-space: nowrap;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

header a {
  color: #f2af29;
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
  display: block;
}

header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.details p {
  line-height: 2;
}

.details h1,
.details h2 {
  text-align: center;
}

.all-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}

.all-images > img {
  max-width: 45%;
  max-height: 400px;
}

.pet-thumbnails {
  width: 50%;
}

.pet-thumbnails > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border: 2px solid #333;
}

.pet-thumbnails > img.active {
  border-color: #ad343e;
  opacity: 0.6;
}

.search-params label {
  display: block;
  width: 60px;
}

.search-params input,
.search-params select {
  margin-bottom: 30px;
  font-size: 18px;
  height: 30px;
  width: 325px;
}

.search-params button,
#modal button,
.details button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.search-params button:hover {
  background-color: #c36b72;
}

.search-params button:active {
  background-color: #5f1d22;
}

.search-params button:focus {
  border: 1px solid cornflowerblue;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin-right: 15px;
}
